{% load staticfiles %}

<title>{{ page_title|default:'MyStartupManager' }}</title>

{% block metas %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="nVentiveUX">
  <meta name="description" content="">
  <!-- TODO: create a humans view, store text in database -->
  <link rel="author" href="humans.txt">
{% endblock %}

{% block extra_metas %}{% endblock %}

{% block stylesheets %}
  <!-- Core -->
  <link rel="stylesheet"
        href="{% static 'core/css/core.css' %}">

  <!-- Bootstrap -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
        crossorigin="anonymous">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

{% block extra_stylesheets %}{% endblock %}
